*{
    box-sizing: border-box;
}
body{
    background-color: rgb(29, 25, 25);
    color: white !important;
}
.menu{
    background-color: rgb(34, 31, 31);
    border-radius: 5px;
    padding: 3px;
    box-shadow: 2px rgba(14, 13, 13, 0.788);
}
.Inputs{
    position: fixed;
    top:0 ;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(192, 185, 185, 0.308);
    display: none;
    align-items: center;
    justify-content: center;
}
.insertInputs{
    width: 45rem;
    padding: 20px;
    background-color: rgb(29, 25, 25);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(146, 142, 142, 0.788);
    position: relative;
}
.btnOne{
    position: fixed;
    top: 1rem;
    right: 1.5rem;
}
.sk-cube-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
}

.sk-cube-grid .sk-cube {
  padding: 10px;
  width: 33%;
  height: 33%;
  background-color: rgb(29, 28, 28);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
   animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/* @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .Inputs{
      z-index: 999;
  }
    thead{
      display: none;
  }
  .btnOne{
    position: fixed;
    top: 1rem;
    right: 1.5rem;
  } 
	 Force table to not be like tables anymore */
     /* .table>:not(caption)>*>* {
       
        padding: 2rem 1rem !important;
    }
	table, tbody, th, td, tr { 
		display: block; 
      
	} */
	 
	/* Hide table headers (but not display: none;, for accessibility) */
	 /* table tr { 

        margin-bottom: 10px !important;
	}
	
	tr { border: 1px solid #ccc; 
  }
	td:first-child:before{
        content: "Index";
        padding-bottom: 10px;
    }
    td:nth-child(2)::before{
        content: "Name";
        padding-bottom: 10px;
    }
    td:nth-child(3)::before{
        content: "Price";
        padding-bottom: 10px;
    }
    td:nth-child(4)::before{
        content: "Description";
        padding-bottom: 10px;
    }
    td:nth-child(5)::before{
        content: "Category";
        padding-bottom: 10px;
    }
    #delete{
        display: inline-block;
    }
    #update{
        display: inline-block;
    }
    td::before{
        float: left;
    } */
	/* td {  */
		/* Behave  like a "row" */
		/* border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
    text-align: right;
	} 
  }
	 */


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    tab{
        max-width: 100px !important;
    }
} 